.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 465px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 194px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    font-size: 1.6666666666666665rem;
  }
}